@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.icon {
  height: 16px;
  width: 16px;
}

h2 {
  font-family: "Open Sans";
  font-weight: 700;
}

section h2 {
  color: #ff4422;
  font-size: 28px;
}

nav {
  height: 48px;
  width: 100%;
  display: grid;
  position: fixed;
  top: 0;
  background: #ffffff;
  grid-template-columns: 106px 1fr 48px 48px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
}

#logo {
  display: grid;
  justify-items: center;
  align-items: center;
  background: #131313;
  height: 100%;
  width: 106px;
}

nav img {
  height: 16px;
  width: 66px;
}

#search {
  grid-column: 3 / 4;
  display: grid;
  justify-items: center;
  align-items: center;
  border-left: 1px solid #eeeeee;
  height: 100%;
  width: 100%;
}

#search-icon {
  background-image: url(icons-sprite.svg);
  background-position: -848px -848px;
  opacity: 0.25;
}

#search-icon:hover {
  opacity: 0.5;
}

#menu a {
  grid-column: 4 / 5;
  display: grid;
  grid-template-rows: 1fr 10px 1fr;
  justify-items: center;
  align-items: center;
  border-left: 1px solid #eeeeee;
  height: 100%;
  width: 100%;
}

.ham-bar {
  height: 2px;
  width: 20px;
  background-color: #ff4422;
}

#first-bar {
  align-self: flex-end;
}

#third-bar {
  align-self: flex-start;
}

main {
  background-image: linear-gradient(100px, green, blue);
  margin-top: 56px;
}

#cover {
  margin: 8px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: calc(100vh - 64px);
  grid-gap: 8px;
}

.cover-story {
  background: grey;
}

@media screen and (min-width: 768px) {
  nav {
    height: 80px;
  }
}

@media screen and (min-width: 1024px) {
}

/*Everything past cover story is max width 1152px with 20px padding on each size*/
